/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

.jumbotron { 
	text-align: center;
	background-color: #2E2E2E;
	color: white;
	padding-bottom: 50px;
}
.jumbotron img {
	margin-bottom: 30px;
}

.btn-lg {
	font-size: 24px;
}

.jumbotron h1 {
	font-family: 'Arvo', serif;
	margin-top: 0px;
	margin-bottom: 30px;
}

.jumbotron p {
	font-size: 25px;
	padding-top: 5px;
	margin-bottom: 30px;
	font-weight:100;
	padding: 0 50px;
}

.jumbotron2 { 
	text-align: center;
	background-color: #5cb85c;
	color: white;
	padding-top: 50px;
	position: relative;
}

.jumbotron2 h1 {
	font-family: 'Arvo', serif;
	padding-top: 30px;
	padding-bottom: 50px;
}

.jumbotron2 h2 {
	text-align: center;
	font-family: 'Arvo', serif;'

}

.jumbotron2 p {
	font-size: 22px;
	padding-top: 5px;
	margin-bottom: 30px;
	font-weight:100;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.jumbotron3 {
	text-align: center;
	background-color: #2E2E2E;
	color: white;
	position: relative;
}

.jumbotron3 h1 {
	font-family: 'Arvo', serif;
	padding-top: 30px;
	padding-bottom: 40px;
	font-size: 50px;
}

.jumbotron3 p {
	text-align: left;
	font-size: 25px;
	padding-top: 5px;
	margin-bottom: 30px;
	font-weight:100;
	padding: 0 50px;
}

.navbar {
	font-family: 'Arvo', serif;
	font-size: 20px;
}

.homepage {
	text-align: center;
	font-weight: 300;
	font-size: 21px;
	padding-top: 50px;
	padding-bottom: 100px;
}

.homepage h2 {
	text-align: center;
	font-family: 'Arvo', serif;'
}

.jumbotron3 h2 {
	text-align: center;
	font-family: 'Arvo', serif;'
}

.logos {
	position: relative;
	padding-bottom: 10px;
}

.homepage h1 {
	font-family: 'Arvo', serif;
	text-align: center;
	font-size: 41px;
	padding-top: 40px;
}
.container {
    position: relative;
    width: 75%;
}

.skills {
	text-align: center;
	font-weight: 300;
	font-size: 21px;
	padding-top: 50px;
	padding-bottom: 100px;
}

.skills h1 {
	font-family: 'Arvo', serif;
	text-align: center;
	font-size: 41px;
	padding-top: 22px;
	padding-bottom: 40px;
}

#back-to-top {
	position: absolute;
	right: 20px;
	bottom: 20px;
	color: #333;
}


/* Responsive styling */
@media (max-width: 348px) { 
.jumbotron img {
	text-align: left;
}
}

@media (max-width: 348px) { 
.jumbotron p {
	padding: 0px;
	font-size: 24px;
}
}

@media (max-width: 629px) { 
.jumbotron  {
	padding: 0px;

}
}

@media (max-width: 629px) { 
.jumbotron p  {
	padding: 0px;
	font-size: 22px;

}
}

@media (max-width: 461px) { 
.jumbotron3 h2  {
	padding: 0px;
	font-size: 14px;

}
}

@media (min-width: 768px) { 
.navbar-brand {
	margin-left: -105px;
	position: relative;

}
}

